<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程顾问</title>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    
    <link rel="shortcut icon" href="__IMAGE__/index/favicon.ico">
</head>
<body>
    <h3 draggable="true" ondragstart="startDrag(ev)">课程顾问</h3>
    <video  draggable="true" width="200" height="200" src="__MOVIE__/15101082479/123.AVI" controls='controls'>
        你的浏览器不支持该视频
    </video>
    <audio src="__AUDIO__/warm.mp3">
        <source src="" type="">
    你的浏览器不支持该音频
    </audio>
<form action="" method="get" autocomplete='on'>
Webpage: <input type="url" list="url_list" name="link" />
<datalist id="url_list">
	<option label="W3School" value="http://www.w3school.com.cn" />
	<option label="Google" value="http://www.google.com" />
	<option label="Microsoft" value="http://www.microsoft.com" />
</datalist>
<input type="meter"/>日期
<input type="submit" />
</form>
<input type="search"/><button>搜索</button>
</body>
<script>
    $(document).ready(function()
    {
        
    });
  
</script>
</html>