body{
    min-width: 900px;
    min-height: 300px;
    list-style-type: none;
    background: lightskyblue;
    margin: 0px;
}
body div{
    /* width: 100%; */
    display: block;
    /* margin: 0px auto; */
    background: lightgray;
    /* margin-top: 10px; */
    width: 100%;

}
.title-back-div,.top_parent_div,.cycle{
    float: left;
}
/* 前置背景 */
.form_server{
  top: 200px;
  /* height: 400px; */
  width: 50px;
  background: transparent;
  float: left;
  position: absolute;
  z-index: 2;
  position: fixed;
}
.form_server ul{
    margin: 0px;
    padding: 0px;
    /* margin-left: -20px; */
    
    
    /* background: red; */
}
.form_server ul li{
    font-size: 10px;
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 8px;
    background: rgba(14, 3, 3 ,0.6);
    display: inline-block;
}
.form_server ul li a{
    color: white;
}
.form_server ul li img{

    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
}
a:link{
    text-decoration: none;
}
.title-back-div{
    background: black;
}
.title_div{
    padding-top: 10px;
    height: 35px;
    background: black;
    color: white;
    width: 900px;
    margin: 0 auto;
}
.loginOrResiger{
    width: 120px;
    
    bottom: 20px;
    float: right;
    
    margin-right: 10px;
    background: black;
    
}
.loginOrResiger a{
    color: white;
}
.loginOrResiger a:hover{
    color:blanchedalmond;
}
.top_parent_div{
    background: white;
    width: 100%;
    top: 0px;
    /* margin-top: -20px; */
}
.top_div{
    top: 0px;
    height: 80px;
    width: 900px;
    margin: 0 auto;
    background: inherit;
    position: relative;
}
/* 列表功能块 */
.top_div ul{
    position: absolute;
    top: 8px;
    right: 30px;
    
}
/* 产品浮窗 */
.project{
    position: absolute;
    width: 100px;
    top: 56px;
    left: 50px;
    width: 300px;
    padding: 0px 10px;
    background: white;
    overflow: hidden;
    zoom: 1;
    z-index: 1;
}
.project a{
    color: black;
}
.instance_span{

    background: transparent;
    position: absolute;
    top: 26px;
    left: 100px;
    height: 30px;
    width: 50px;
}
.instance_span span{
    border-bottom: solid white;
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid transparent;
    display:inline-block;
    border-width: 10px;
    background: transparent;
    position: absolute;
    top: 10px;
    left: 0px;
    height: 0px;
    width: 0px;
    display: none;
}
.project div{
    background: white;
    width:  100%;
    float: left;
}
.top_div ul li{
    display: inline;
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
}
.top_div ul li a{
    color: black;
}
/*---------------------*/
.subtitle{
    top: -20px;
    left: 0px;
    margin-top: 0px;
    font-weight: 300;
    font-size: 15px;
    position: relative;
}
/* 轮播 */
.cycle{
    width: 100%;
    height: 500px;
    background: rgb(87, 179, 207);
    position: relative;
    overflow: hidden;
    /* margin-top: -20px;  */
}

.cycle ul{
    list-style:none;
    /* top: 0px;
    left: 0px; */
    /* margin-left: -50px; */
    float: left;
    padding: 0px;
    margin-top: 0px;
    position: absolute;
    height: 100%;
}
.cycle ul li{
    float:  left;
}
.cycle ol{
    list-style-type: none;
    /* float: left; */
    /* width: 100px; */
    position: absolute;
    background: lightslategray no-repeat center center;
    bottom: 20px;
    /* margin: 0 auto; */
    left: 50%;
    margin-left: -50px;
    height: 20px;;
    border-radius: 10px;
    padding: 0px;
    margin: 5px 5px;
    /* width: 100px; */
}
.cycle ol li{
    width: 10px;
    float: left;
    height: 10px;
    border-radius: 50%;
    background: white; 
    margin: 5px 5px;
    cursor: pointer;
    /* background: yellow; */
}
.cycle ol .current_point{
    background: lightcoral;
}



/* 左右翻页箭头 */
.left_arrow , .right_arrow{
    top: 50%;
    height: 120px;
    width: 58px;
    display: none;
    margin-top: -60px;
    position: absolute;
    cursor: pointer;

}
.left_arrow{
    left: 50px;
    background: url('../../image/shop/main/left_right.png') no-repeat 0 0px;
    
}
.right_arrow{
    right: 50px;
    background: url('../../image/shop/main/left_right.png') no-repeat 0 -120px;
}


/* 宣传 */
.publish{
    width: 100%;
    height: 50px;
    background: cyan;
}