<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__CSS__/shop/shopmain.css">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/shop/main.js"></script>
    <title>商城shop title</title>
    <script>
        let path = '__IMAGE__/shop/main';
         // 轮播图地址
        var image_array = [ path+'/1.jpg',path+'/2.jpg',path+'/3.jpg'];
        // 轮播图跳转
        let href_array = ['http://www.baidu.com','http://www.sina.cn','http://www.hao123.com'];
        //宣传页图片
  
        let publishImageArray = [path + '/product_b2b2c.png',path + '/product_java.png' , path + '/product_app.png' , path + '/product_solution.png'];
    </script>
</head>
<body>
    <!-- 前置服务页面 -->
    <div class="form_server">
        <ul>
            <li>
               <a href=""><img src="__IMAGE__/shop/main/qq.png" alt="">产品顾问</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/weixin.png" alt="">微信客服</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/phone.png" alt="">免费电话</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/after.png" alt="">售后客服</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/bar.png" alt="">官方微信</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/edit.png" alt="">官网注册</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/arrow.png" alt="">返回顶部</a>
            </li>
        </ul>
    </div>
    <div class="title-back-div">
    <div class="title_div">
        <label for="">售前电话：400-100-1500</label>
        <div class="loginOrResiger">
            <a href="" target="__blank">会员登录|</a>
            <a href="" target="__blank">注册</a>
        </div>
    </div>
    </div>
    <div class="top_parent_div">
        <div class="top_div">

            <h1><font color="blue" size="6">Shop</font><font color = "red" size='6'>ZD</font> <font size='4'>&nbsp;&nbsp;企业级电商系统提供商</font></h1>
         <h4 class="subtitle">历经十年始终专注产品研发，为企业客户提供电商系统及服务</h4>

           <ul>
                    <li><a href="">首页</a></li>
                    <li id='project_action'><a href="">产品<img src="__IMAGE__/shop/main/Illegal_icon_down_N.png" alt="下标符号"></a><span class="instance_span"><span></span></span></li>
                    <li><a href="">解决方案</a></li>
                    <li><a href="">成功案例</a></li>
                    <li><a href="">关于我们</a></li>
                    
                    <div class="project">
                            <a href="我的java商城" target="_block">
                            <div id='java_shop'>
                                 <h3>java商城开发</h3>
                                 <p>JAVA语言开发，安全、稳定、结构合理、高并发性、强扩展性、集群部署。</p>
                              </div>
                            </a>
                              <hr>
                              <a href="我的php商城" target="_block">
                              <div id='php_shop'>
                                 <h3>B2B2C商城开发</h3>
                                 <p>php语言开发，功能强大，易用性强，电商创业制胜法宝。</p> 
                              </div>
                            </a>
                    </div>
            </ul>
         </div>
    </div>
    <div>
        <div class="cycle">
            <ul></ul>
            <ol></ol>
            <i class="left_arrow"></i><i class="right_arrow"></i>
        </div>
    </div>
    <div class="sepa_lab"></div>
    <div class="publish_ads">
        <div> 
            <span class="span_title">追求卓越 勇于创新</span>
            <span>专业、权威的技术团队用心做事，为企业客户提供领先的电商平台配套系统服务</span>
        </div>
        <div>
            <div id='specialWork'> 
                <img src="__IMAGE__/shop/main/product_b2b2c.png" alt="商城系统">
                <h5>B2B2C商城系统</h5>
                <span>商城、CMS、圈子、分销、产品库、聊天等多套系统</span>
                <button>功能选点</button>
                <button>测试网址</button>
            </div>
            <div id='specialWork'> 
                <img src="__IMAGE__/shop/main/product_java.png" alt="JAVA商城">
                <h5>JAVA商城系统</h5>
                <span>B2B&B2B2C一键切换\n多端展示一目了然</span>
                <button>功能选点</button>
                <button>测试网址</button>
            </div>
            <div id='specialWork'> 
                <img src="__IMAGE__/shop/main/product_app.png" alt="移动应用">
                <h5>B2B2C商城系统</h5>
                <span>商城、CMS、圈子、分销、产品库、聊天等多套系统</span>
                <button>功能选点</button>
                <button>测试网址</button>
            </div>
            <div id='specialWork'>
                <img src="__IMAGE__/shop/main/product_solution.png" alt="解决方案">
                <h5>B2B2C商城系统</h5>
                <span>商城、CMS、圈子、分销、产品库、聊天等多套系统</span>
                <button>功能选点</button>
                <button>测试网址</button>
            </div>
        </div>
    </div>
    <div>
        商品展示
    </div>
    <div>
        业务模式---过程
    </div>
    <div>
        大数据技术方案
    </div>
    <div>
        线下门店-渠道
    </div>
    <div>
        移动端
    </div>
    <div>
        辅助工具
    </div>
    <div>
        业务特色
    </div>
    <div>
        询价，采购
    </div>
    <div>
        积分兑换
    </div>
    <div>
        footer
    </div>
    
</body>
</html>