<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__CSS__/shop/shopmain.css">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/shop/main.js"></script>
    <title>商城shop title</title>
    <script>
        let path = '__IMAGE__/shop/main';
         // 轮播图地址
        var image_array = [ path+'/1.png',path+'/2.png',path+'/3.png'];
        // 轮播图跳转
        let href_array = ['http://www.baidu.com','http://www.sina.cn','http://www.hao123.com'];
        //宣传页图片
  
        let publishImageArray = [path + '/product_b2b2c.png',path + '/product_java.png' , path + '/product_app.png' , path + '/product_solution.png'];
        //宣传页点击事件
         let publishButtonAction = ['http://www.sina.cn','http://www.sina.cn','http://www.sina.cn','http://www.sina.cn','http://www.sina.cn','http://www.sina.cn'];
        
         //产品图片  ---展现 推广 互动 留存 成交 复购
        let select_product = [path+'/apple-select.png',path+'/android-select.png',path+'/wechat-select.png'];
        let product = [path+'/apple.png',path+'/android.png',path+'/wechat.png'];
        //java商城和B2B2C商城二维码
        let javaBar = [path + '/PHP-iOS.jpg',path + '/Java-android.jpg',path + '/weixin.jpg'];
        let b2b2cBar = [path + '/PHP-iOS.jpg',path + '/Java-android.jpg',path + '/weixin.jpg'];

    </script>
</head>
<body>
    <!-- 前置服务页面 -->
    <div class="form_server">
        <ul>
            <li>
               <a href=""><img src="__IMAGE__/shop/main/qq.png" alt="">产品顾问</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/weixin.png" alt="">微信客服</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/phone.png" alt="">免费电话</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/after.png" alt="">售后客服</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/bar.png" alt="">官方微信</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/edit.png" alt="">官网注册</a>
            </li>
            <li>
                <a href=""><img src="__IMAGE__/shop/main/arrow.png" alt="">返回顶部</a>
            </li>
        </ul>
    </div>
    <div class="title-back-div">
    <div class="title_div">
        <label for="">售前电话：400-100-1500</label>
        <div class="loginOrResiger">
            <a href="" target="__blank">会员登录|</a>
            <a href="" target="__blank">注册</a>
        </div>
    </div>
    </div>
    <div class="top_parent_div">
        <div class="top_div">

            <h1><font color="blue" size="6" class="shop">Shop</font><font color = "red" size='6' class="name">ZD</font> <font size='4'>&nbsp;&nbsp;企业级电商系统提供商</font></h1>
         <h4 class="subtitle">历经十年始终专注产品研发，为企业客户提供电商系统及服务</h4>

           <ul>
                    <li><a href="">首页</a></li>
                    <li id='project_action'><a href="">产品<img src="__IMAGE__/shop/main/Illegal_icon_down_N.png" alt="下标符号"></a><span class="instance_span"><span></span></span></li>
                    <li><a href="">解决方案</a></li>
                    <li><a href="">成功案例</a></li>
                    <li><a href="">关于我们</a></li>
                    
                    <div class="project">
                            <a href="我的java商城" target="_block">
                            <div id='java_shop'>
                                 <h3>java商城开发</h3>
                                 <p>JAVA语言开发，安全、稳定、结构合理、高并发性、强扩展性、集群部署。</p>
                              </div>
                            </a>
                              <hr>
                              <a href="我的php商城" target="_block">
                              <div id='php_shop'>
                                 <h3>B2B2C商城开发</h3>
                                 <p>php语言开发，功能强大，易用性强，电商创业制胜法宝。</p> 
                              </div>
                            </a>
                    </div>
            </ul>
         </div>
    </div>
    <div>
        <div class="cycle">
            <ul></ul>
            <ol></ol>
            <i class="left_arrow"></i><i class="right_arrow"></i>
        </div>
    </div>
    <div class="sepa_lab"></div>
    <div class="publish_ads">
        <div> 
            <span class="span_title">追求卓越 勇于创新</span>
            <span>专业、权威的技术团队用心做事，为企业客户提供领先的电商平台配套系统服务</span>
        </div>
        <div>
            <div id='specialWork'> 
                <img src="__IMAGE__/shop/main/product_b2b2c.png" alt="商城系统">
                <span>商城、CMS、圈子、分销、产品库、聊天等多套系统</span>
                <button class="work_hot">功能热点</button>
                <button class="try_web">测试网址</button>
            </div>
            <div id='specialWork'> 
                <img src="__IMAGE__/shop/main/product_java.png" alt="JAVA商城">
                
                <span>B2B&B2B2C一键切换多端展示一目了然</span>
                <button class="work_hot">功能热点</button>
                <button class="try_web">测试网址</button>
            </div>
            <div id='specialWork'> 
                <img src="__IMAGE__/shop/main/product_app.png" alt="移动应用">
                
                <span>iOS/Android/WAP移动应用与商城平台的紧密结合</span>
                <button class="see_detail">查看详情</button>
            </div>
            <div id='specialWork'>
                <img src="__IMAGE__/shop/main/product_solution.png" alt="解决方案">
                
                <span>多年网上商城实操经验与案例提供专业的电商解决方案</span>
                <button class="see_detail">查看详情</button>
            </div>
        </div>
    </div>
    <hr style="margin-top:100px;border:0;background-color:lightgray;height:1px">
    <div class="shop_show">
        <h1>精准、独特、先进的垂直化电商体系</h1>
        <hr style="height:1px;width:250px;background-color:lightgray;border:0px;">
        <hr style="height:5px;width:30px;background-color:#1D82C7;border:0px;margin-top:-11px;">
        <h4>抓住行业特性，集中市场焦点，ShopNC为您打造出一套将商品销售、供应链、线上线下、社交推广、二次回购等电商运营问题集中解决的成型产品。</h4>
        <ul>
            <li><img src="__IMAGE__/shop/main/show.png" alt=""><b>展现</b> </li>
            <li><img src="__IMAGE__/shop/main/open.png" alt=""><b>推广</b></li>
            <li><img src="__IMAGE__/shop/main/chat.png" alt=""><b>互动</b></li>
            <li><img src="__IMAGE__/shop/main/save.png" alt=""><b>留存</b></li>
            <li><img src="__IMAGE__/shop/main/money.png" alt=""><b>成交</b></li>
            <li class="download"><div>
                <img src="__IMAGE__/shop/main/PHP-iOS.jpg" alt="">
                <p><img src="__IMAGE__/shop/main/apple.png" alt="">iphone</p>
                <p><img src="__IMAGE__/shop/main/android.png" alt="">Android</p>
                <p><img src="__IMAGE__/shop/main/wechat.png" alt="">微信商城</p>
                <b><font color='#5BADF3'>Java</font>商城系统APP扫码下载</b>
            </div></li>
            <li class="download"><div>
                <img src="__IMAGE__/shop/main/PHP-iOS.jpg" alt="">
                <p><img src="__IMAGE__/shop/main/apple.png" alt="">iphone</p>
                <p><img src="__IMAGE__/shop/main/android.png" alt="">Android</p>
                <p><img src="__IMAGE__/shop/main/wechat.png" alt="">微信商城</p>
                <b><font color='#5BADF3'>B2B2C</font>商城系统APP扫码下载</b>
            </div></li>
        </ul>
    </div>

    <div class="bigData">
        <H1>大数据下集群技术部署方案</H1> 
        <div class="top-desc">
            <ul>
                <li><img src="__IMAGE__/shop/main/small.png" alt="">高并发，高稳定</li>
                <li><img src="__IMAGE__/shop/main/small.png" alt="">支持大数据量和多种缓存方式</li>
                <li><img src="__IMAGE__/shop/main/small.png" alt="">数据库读写分离和集群部署</li>
            </ul>
        </div>

        <div class="content-desc">
             <ul>
                <li>
                    <table>
                        <tr>
                            <td colspan="2">
                                <h3>整体架构</h3>
                                <span class="title">基于spring/springmvc/hibernate 成熟、稳定、高效</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="__IMAGE__/shop/main/bd04.png" alt="">
                                <h3 class="content-title">CDN加速</h3>
                                <span class="content">保障用户的极致体验</span>
                            </td>
                            <td>
                                <img src="__IMAGE__/shop/main/bd05.png" alt="">
                                <h3 class="content-title">负载均衡</h3>
                                <span class="content">高可用、高性能的解决方案</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="__IMAGE__/shop/main/bd06.png" alt="">
                                <h3 class="content-title">静态服务</h3>
                                <span class="content">动静分离，超大承载量</span>
                            </td>
                            <td>
                                <img src="__IMAGE__/shop/main/bd07.png" alt="">
                                <h3 class="content-title">应用服务</h3>
                                <span class="content">快速响应、高效部署</span>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <td colspan="2">
                            <h3>主体模块</h3>
                            <span class="title">自由搭配，从容部署</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="__IMAGE__/shop/main/bd08.png" alt="">
                                <h3 class="content-title">Web</h3>
                                <span class="content">商城前台模块</span>
                            </td>
                            <td>
                                <img src="__IMAGE__/shop/main/bd09.png" alt="">
                                <h3 class="content-title">Seller</h3>
                                <span class="content">商城商家使用模块</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="__IMAGE__/shop/main/bd10.png" alt="">
                                <h3 class="content-title">Admin</h3>
                                <span class="content">平台管理模块</span>
                            </td>
                            <td>
                                <img src="__IMAGE__/shop/main/bd11.png" alt="">
                                <h3 class="content-title">Api</h3>
                                <span class="content">接口服务模块</span>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <td colspan="2">
                            <h3>组件</h3>
                            <span class="title">不可或缺、对系统提供强有力支撑</span>
                            </td>                                
                        </tr>
                        <tr>
                            <td>
                                <img src="__IMAGE__/shop/main/bd12.png" alt="">
                                <h3 class="content-title">安全模块</h3>
                                <span class="content">系统安全运行的盾牌</span>
                            </td>
                            <td>
                                <img src="__IMAGE__/shop/main/bd13.png" alt="">
                                <h3 class="content-title">搜索模块</h3>
                                <span class="content">快速定位精准购物</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="__IMAGE__/shop/main/bd14.png" alt="">
                                <h3 class="content-title">统计模块</h3>
                                <span class="content">为系统提供大数据分析</span>
                            </td>
                            <td>
                                <img src="__IMAGE__/shop/main/bd15.png" alt="">
                                <h3 class="content-title">分析模块</h3>
                                <span class="content">为商城运营决策提供有力支持</span>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="offline">
        <img class="bg" src="__IMAGE__/shop/main/off-bg.png"></img>
        <h1>精准、独特、先进的垂直化电商体系</h1>
        <hr style="height:1px;width:250px;background-color:lightgray;border:0px;">
        <hr style="height:5px;width:30px;background-color:#1D82C7;border:0px;margin-top:-11px;">
        <span>门店管理功能兼顾线上商城与线下实体多种经营模式，线上下单到点取货，线上预约线下购买，商城门店会员打通，门店销售结算统计，售后服务店内活动，独立模块权限划分。</span>
        <img src="__IMAGE__/shop/main/md-img.png" alt="">
    </div>
    <div class="app-ads">
            <h1>移动应用，多端展示，一目了然</h1>
            <hr style="height:1px;width:250px;background-color:lightgray;border:0px;">
            <hr style="height:5px;width:30px;background-color:#1D82C7;border:0px;margin-top:-11px;">
            <span>首页、专题、店铺从PC到移动，想变就变，以更高标准打造的触屏版商城,给用户带来更顺畅 更自然的操作体验，美观兼具实用。</span>
            <img src="__IMAGE__/shop/main/mobile-img.png" class="app" alt="">
    </div>
    <div class="category-goods">
            <h1>数十种促销工具，帮助提升店铺成交转化</h1>
            <div>
                <span>客户营销不能只是打折促销。在B2B2C商城系统中，你可利用拼团、秒杀、闪购、团购、加价购、限时折扣、满即送，优惠套装、预售商品、F码商品、
                    推荐组合、代金券，手机专享等营销玩法，把消费变成了一种”游戏”，有趣，有效果。
                </span>
            </div>
            <ul>
                <li>
                    <img src="__IMAGE__/shop/main/cate-01.png" alt="">
                    <h4>全民拼团</h4>
                    <span>一秒推开社交营销大门</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-02.png" alt="">
                    <h4>商品秒杀</h4>
                    <span>聚集人气，增加访问量</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-03.png" alt="">
                    <h4>商品团购</h4>
                    <span>清库存，加快资金回流</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-04.png" alt="">
                    <h4>加价购</h4>
                    <span>增加销售商品数量</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-05.png" alt="">
                    <h4>满即送</h4>
                    <span>促销活动面向全网推广</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-06.png" alt="">
                    <h4>优惠套装</h4>
                    <span>捆绑销售，增加销量</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-07.png" alt="">
                    <h4>闪购</h4>
                    <span>特别价格+限时+供应限制</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-08.png" alt="">
                    <h4>预售商品</h4>
                    <span>有效规避生产存在风险</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-09.png" alt="">
                    <h4>F码商品</h4>
                    <span>优先享有购买商品特权</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-10.png" alt="">
                    <h4>推荐组合</h4>
                    <span>多个产品一起购买</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-11.png" alt="">
                    <h4>代金券</h4>
                    <span>抵扣同样等值的现金使用</span>
                </li>
                <li>
                    <img src="__IMAGE__/shop/main/cate-12.png" alt="">
                    <h4>手机专享</h4>
                    <span>手机制定促销</span>
                </li>
   
            </ul>
    
    </div>
    <div class="app-ads">
            <h1>观看视频点播，购买商品</h1>
            <hr style="height:1px;width:250px;background-color:lightgray;border:0px;">
            <hr style="height:5px;width:30px;background-color:#1D82C7;border:0px;margin-top:-11px;">
            <span>B2B2C商城系统具有视频购物模块，特有的视频点播、图文结合、视频专题等模块功能。让您的商品进行全方位的展示，让销量飞起来。</span>
            <ul>
                <li class="ads">
                    <img class="top-img" src="__IMAGE__/shop/main/zb08.png" alt="">
                    <span>01.打开APP点播模块</span>
                    <img class="bottom-img" src="__IMAGE__/shop/main/zb01.png" alt="">
                </li>
                <li class="sepa">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li class="ads">
                    <img class="top-img" src="__IMAGE__/shop/main/zb05.png" alt="">
                    <span>02.观看点播</span>
                    <img class="bottom-img" src="__IMAGE__/shop/main/zb02.png" alt="">
                </li>
                <li class="sepa">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li class="ads">
                    <img class="top-img" src="__IMAGE__/shop/main/zb06.png" alt="">
                    <span>03.购买点播推荐商品</span>
                    <img class="bottom-img" src="__IMAGE__/shop/main/zb03.png" alt="">
                </li>
                <li class="sepa">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li class="ads">
                    <img class="top-img" src="__IMAGE__/shop/main/zb07.png" alt="">
                    <span>04.快递送货到家</span>
                    <img class="bottom-img" src="__IMAGE__/shop/main/zb04.png" alt="">
                </li>
            </ul>  
    </div>
    <div class="price-ads">
        <h1>询价、报价及相关的采购功能模块</h1>
        <span>在Java电商系统中买家可选择性的对商家提供的报价进行跟踪咨询留言，
                进一步达成合作意向，而卖家也可补充之前的报价内容。
                该模块为批发类型为主的电商运营平台提供了更有效的供求信息交流关系。</span>
        <table>
            <tr>
                <td>
                    <img src="__IMAGE__/shop/main/t1.png" alt="">
                    <span><font size='3px'>分期支付及授信模块</font></span>
                    <span>系统支持入驻商家对采购商进行授信，
                        对账单进行分期支付。可按照采购商分别进行授信，
                        生成灵活可控的分期订单。
                    </span>
                </td>
                <td>
                    <img src="__IMAGE__/shop/main/t2.png" alt="">
                    <span><font size='3px'>询价单模块</font></span>
                    <span>供应商可发布大宗商品库存，采购商可根据采购量、支付方式等进行询价，生成的询价单供应商可在商家中心进行报价。
                    </span>
                </td>
                <td>
                    <img src="__IMAGE__/shop/main/t3.png" alt="">
                    <span><font size='3px'>采购商等级</font></span>
                    <span>不同等级、不同渠道、不同模式的采购商，供应商可自定义其优惠折扣政策、解决供销分工不明确等企业核心运营问题。
                    </span>
                </td>
                <td>
                    <img src="__IMAGE__/shop/main/t4.png" alt="">
                    <span><font size='3px'>加盟商模块</font></span>
                    <span>供应商可在加盟商模块中按照地域、规模、自定义等方式招募加盟商，并设置相关的加盟条件，加盟商可查看供应商对加盟商设置的渠道价格。
                    </span>
                </td>
                <td class="most-right">
                    <img src="__IMAGE__/shop/main/t5.png" alt="">
                    <span><font size='3px'>定制模块</font></span>
                    <span>采购商可针对商品的参数等信息进行商品定制，供应商可根据采购商的定制订单生成电子合同，并组织生产完成交易。
                    </span>
                </td>
            </tr>
            <tr class="bottom">
                <td>
                    <img src="__IMAGE__/shop/main/t6.png" alt="">
                    <span><font size='3px'>批发模块</font></span>
                    <span>设置单批/混批、可以按照数量/金额起批，支持订单生产，分期支付，合同签署等其他大宗交易模式。
                    </span>
                </td>
                <td>
                    <img src="__IMAGE__/shop/main/t7.png" alt="">
                    <span><font size='3px'>采购商工作流模块</font></span>
                    <span>对采购商权限进行划分，采购员可进行商品选择，经理可对采购员选择的商品进行审批，财务可进行付款操作，仓库进行收货退款退货。
                    </span>
                </td>
                <td>
                    <img src="__IMAGE__/shop/main/t8.png" alt="">
                    <span><font size='3px'>样品索取模块</font></span>
                    <span>在工业电商中，样品是整个交易的重要部分，供应商可以在发布商品时可选择是否提供样品，采购商可免费索取样品。
                    </span>
                </td>
                <td>
                    <img src="__IMAGE__/shop/main/t9.png" alt="">
                    <span><font size='3px'>求购报价模块</font></span>
                    <span>大宗交易现货供求报价模块，采购商可以发布自己求购的商品，由供应商发布的报价单至采购商的会员中心。
                    </span>
                </td>
                <td class="most-right">
                    <img src="__IMAGE__/shop/main/t10.png" alt="">
                    <span><font size='3px'>交付模块</font></span>
                    <span>供应商可设定订单中的交付周期及交付方式，可设定订单的交付批次及每批次的交付数量，可设置批次的交付方式。
                    </span>
                </td>
            </tr>
        </table> 
    </div>
    <div class="score">
        <h1>让客户用积分兑换礼品</h1>
            <hr style="height:1px;width:250px;background-color:lightgray;border:0px;">
            <hr style="height:5px;width:30px;background-color:#1D82C7;border:0px;margin-top:-11px;">
            <span>会员可使用商城积分兑换条件符合的积分商品以及店铺优惠券，
                让商城积分能更好的维系会员与商城之间的黏性。</span>
           <ul>
               <li><img src="__IMAGE__/shop/main/p-icon01.jpg" alt=""><span>会员可使用商城积分兑换条件符合的积分商品以及店铺优惠券。</span></li>
               <li><img src="__IMAGE__/shop/main/p-icon02.jpg" alt=""><span>商城积分能更好的维系会员与商城之间的黏性。</span></li>
               <li><img src="__IMAGE__/shop/main/p-icon03.jpg" alt=""><span>店铺可设定所需兑换积分数量以及会员等级限定规则。</span></li>
           </ul>
        <div class="redHot">
            <div>
                <img src="__IMAGE__/shop/main/function_01_img.jpg" alt="">
                <span>更高级别的会员有权获得更大的优惠奖励。</span>
            </div>
            <div class="right">
                <img src="__IMAGE__/shop/main/function_02_img.jpg" alt="">
                <span>会员等级可随登录以及购买商品金额逐步增长。</span>
           </div>
        </div>
    </div>
    <div class="footer">
        
    </div>
    
</body>
</html>